@model IEnumerable<News>

@{
    ViewData["Title"] = "Home Page";
}

<br><div class="container body-content">
    @if (Model != null)
    {
        foreach (var news in Model)
        {
            if (User.Identity.IsAuthenticated)
            {
                var isAdmin = User.IsInRole("Admin");
                if (isAdmin)
                {
                    <form asp-action="RemoveANews" asp-route-id="@news.Id">
                        <input class="btn btn-default" type="submit" value="Delete" /><br /><br />
                    </form>
                }
            }
            <div style="clear:both">
                <div class="newsImageDiv">
                    <a asp-action="News" asp-route-id="@news.Id"><img class="newsImage" src="@Url.Content(news.ImageHref) "></a>
                </div>
                <div style="height: 100px">
                    <div>
                        <a asp-action="News" asp-route-id="@news.Id" class="newsHead" name="@news.Name" id="@news.Name">@news.Name</a>
                    </div>
                    <div class="newsBody">@news.Text</div>
                    <div class="newsFooter">
                        @news.UserName
                        @news.Date
                    </div><br>
                </div>
            </div>
            <hr />
        }
    }
</div>

<a asp-action="CreateNews" class="btn btn-default">Create news</a>
