@model NewsAggregator.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<br><div class="container body-content">
    @if (Model != null)
    {
        foreach (var news in Model.News)
        {
            if (news.IsConfirmed || (User.Identity.IsAuthenticated && User.IsInRole("Admin")) || User.Identity.Name == news.UserName)
            {
                if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <span class="btn btn-default glyphicon glyphicon-trash" style="color: red" onclick="askForDelete(@news.Id)" type="submit"></span>

                    if (!news.IsConfirmed)
                    {
                        <a asp-action="ConfirmANews" asp-route-id="@news.Id" style="text-decoration: none;">
                            <span class="btn btn-default glyphicon glyphicon-ok" style="color: green" type="submit"></span>
                        </a>
                    }
                    <br /><br />
                }

                <div style="clear:both">
                    <div class="newsImageDiv">
                        <a asp-action="News" asp-route-id="@news.Id"><img class="newsImage" src="@Url.Content(news.ImageHref) "></a>
                    </div>
                    <div style="height: 100px">
                        <div>
                            <a asp-action="News" asp-route-id="@news.Id" class="newsHead" name="@news.Name" id="@news.Name">@news.Name</a>
                        </div>
                        <div class="newsBody">@news.Text</div>
                        <div class="newsFooter">
                            &nbsp;<span class="glyphicon glyphicon-user"></span>
                            @news.UserName
                            <text>
                                &nbsp;<span class="glyphicon glyphicon-calendar"></span>
                            </text>
                            @news.Date
                            <text>
                                &nbsp;<span class="glyphicon glyphicon-eye-open"></span>
                            </text>
                            @news.Views
                        </div><br>
                    </div>
                </div>
                <hr />
            }
        }
    }
</div>

<a asp-action="CreateNews" class="btn btn-default">Create news</a>

<script>
    function askForDelete(id) {
        if (confirm('Are you sure you want to remove this news?')) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveANews", "Home")',
                data: { id: id },

                success: function () {
                    location.reload();
                }
            });
        }
    }
</script>