@model IEnumerable<News>

@{
    ViewData["Title"] = "Home Page";
}

<br><div class="container body-content">
    @if (Model != null)
    {
        foreach (var news in Model)
        {
            <div>
                <a asp-action="News" asp-route-id="@news.Id" class="newsHead" name="@news.Name" id="@news.Name">@news.Name</a>
            </div>
            <div class="newsBody">
                @news.Text
            </div>
            <div class="newsFooter">
                @news.UserName
                @news.Date
            </div><br>
        }
    }
</div>

<a asp-action="CreateNews" class="btn btn-default">Создать новость</a>
