<!--Tuple<News, IEnumerable<Comment>, IEnumerable<AppUser>>-->
@model NewsAggregator.Models.ViewModels.NewsViewModel


@{
    ViewData["Title"] = "News";
}

<br><br><div class="newsFullHead">
    @Model.News.Name
</div>

<div>
    <hr />
    <div>
        @if (User.Identity.Name == Model.News.UserName || User.IsInRole("Admin"))
        {
            <a asp-action="EditNews" asp-route-id="@Model.News.Id">
                <span class="btn btn-default glyphicon glyphicon-pencil" type="submit" value="Edit"></span>
            </a>
        }
        <div>
            <img class="newsFullImage" src="@Url.Content(Model.News.ImageHref)">
        </div><br /><hr />
        <div class="newsFullText">
            <span style="white-space: pre-line">@Model.News.Text</span>
        </div>
    </div>
</div>
<div>
    <br />
    <a asp-action="Index">Back to List</a>
</div>
<hr />


<div style="font-size: 150%">Комментарии:</div>
<hr />
<div class="table" id="table">
</div>

@if (User.Identity.Name != null)
{
    <div>
        <div class="form-group">
            <textarea class="form-control" name="text" id="text"></textarea>
        </div>
        <div class="form-group">
            <input type="button" onclick="addCommentAJAX()" value="Create" id="submitButton" class="btn btn-default" />
        </div>
    </div>
}
else
{
    <div>
        You must be logged in to write comments.
    </div>
}

@section Scripts {
    <script>
        $(function () { addComments(); });

        function addCommentAJAX() {
            var text = $("#text").val();
            $('#text').val = '';

            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateCommentAsync", "Home")',
                data: { newsId: @Model.News.Id, text: text },

                success: addComment
            });
        }

        function addComments() {
            @foreach (var comment in Model.Comments)
            {
                string path;
                try
                {
                    path = Model.Users.First(u => u.UserName == comment.UserName).ImageHref;
                }
                catch
                {
                    path = "/images/DefaultImages/DefaultUser.png";
                }

                <text>
                    addComment({ id: "@comment.Id", userName: "@comment.UserName", text: "@comment.Text", date: "@comment.Date", imagePath: "@Url.Content(path)" });
                </text>
            }
        }



        function addComment(comment) {
            $("#table").append(
                checkForRemoveButton(comment.id) +
                '<div style="clear:both">' +
                '<div class="commentImageDiv">' +
                '<img class="commentImage" src="'
                + comment.imagePath +
                '"></div><div class="commentHead">'
                + comment.userName +
                '</div><div class="commentFooter">'
                + comment.date +
                '</div></div><div class="commentBody">'
                + comment.text +
                '</div><hr />');
            $("#text").val("");
        }


        function checkForRemoveButton(id) {
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                <text>
                    var button = '<input type="button" onclick="removeCommentAJAX(' + id + ')" value="Delete" id="RemButton" class="btn btn-default" /><br><br>';
                    return button;
                </text>
                }
            }
            return "";
        }

        function removeCommentAJAX(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveComment", "Home")',
                data: { commentId: id, newsId: @Model.News.Id },

                success: function () {
                    location.reload();
                }
            });
        }
    </script>
}