@model NewsAggregator.Models.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "News";
}

<br><br><div class="newsFullHead">
    @Model.News.Name
</div>

<div>
    <hr />
    <div>
        @if (User.Identity.Name == Model.News.UserName || User.IsInRole("Admin"))
        {
            <a asp-controller="Edit" asp-action="EditNews" asp-route-id="@Model.News.Id">
                <span class="btn btn-default glyphicon glyphicon-pencil" type="submit" value="Edit"></span>
            </a>
        }
        <div>
            <img class="newsFullImage" src="@Url.Content(Model.News.ImageHref)">
        </div><br /><hr />
        <div class="newsFullText">
            <span style="white-space: pre-line">@Model.News.Text</span>
        </div>
    </div>
</div>
<div>
    <br />
    <a asp-action="Index">Back to List</a>
</div>
<hr />


<div style="font-size: 150%">Комментарии:</div>
<hr />

@if (User.Identity.Name != null)
{
    <div>
        <div class="form-group">
            <textarea class="form-control" name="text" id="text"></textarea>
        </div>
        <div class="form-group">
            <span type="button" onclick="addCommentAJAX()" id="submitButton" class="btn btn-default glyphicon glyphicon-send"></span>
        </div>
    </div>
}
else
{
    <div>
        You must be logged in to write comments.
    </div>
}

<hr />
<div class="table" id="comments">
</div>

<input type="button" onclick="loadMoreComments()" value="Load more comments" class="btn btn-default" />

@section Scripts {
<script>
    var newsId = @Model.News.Id;
    var loadMoreComm = '@Url.Action("LoadMoreComments", "Load")';
    var createComment = '@Url.Action("CreateCommentAsync", "Home")';
    var removeComment = '@Url.Action("RemoveComment", "Edit")';

    $(function () { loadMoreComments(); });


    function checkForRemoveButton(id) {
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
            <text>
        var button = '<span type="button" onclick="removeCommentAJAX(' + id + ')" id="RemButton" class="btn btn-default glyphicon glyphicon-trash" style="color: red"></span><br><br>';
                return button;
            </text>
            }
        }
        return "";
    }

</script>
}